<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shortener</title>
</head>
<body>
    <form action="/" method="get">
        <input type="url" name="url" id="url" value="{{ url }}" placeholder="Enter URL">
        <input type="submit" value="Shorten">
    </form>
    <a href="{{ short_url }}">{{ short_url }}</a>
</body>
</html>
